/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */

.delete-button {
  visibility: hidden;
  display: in;ine-block;
}

.table-row:hover .delete-button {
  visibility: visible;
}